/* colors
header background: #63261a
header text: #e0cdb1
header links hover: #4c1111

container: #fff8ed

button color: #cc7e2f
button text: #4c1111
*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #63261a;
    background-color: #f7e9d5;
    overflow-x: hidden;
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0cdb1;
    color: #63261a;
    padding: 15px 30px;
    position: relative;
    overflow-x: hidden;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 50px;
    font-weight: bold;
}
.menu-button {
    position: absolute;
    top: 10px;
    right: 45px;
    background-color: #e0cdb1;
    color:#63261a;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.menu-button:hover {
    background-color: #e9dac2;
}

.sidebar {
    position: fixed;
    border-radius: 10px;
    right: -125px;
    top: 0px;
    width: 125px;
    height: 275px;
    background-color: #e0cdb1;
    color: white;
    transition: right 0.3s ease-in-out;
    padding-top: 60px;
}

.sidebar a {
    display: block;
    padding: 15px;
    color: #63261a;
    text-decoration: none;
    font-size: 20px;
}

.sidebar a:hover {
    background-color: #e9dac2;
}

.sidebar button {
    color: #63261a;
}

.sidebar button:hover {
    background-color: #e9dac2;
}

.sidebar.active {
    right: 0;
}

.close-button {
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    background: none;
    border: none;
    color: #e0cdb1;
    font-size: 24px;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #fff8ed;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.button {
    padding: 10px;
    background-color: #cc7e2f;
    color: #4c1111;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.headerImageLogo {
    float: left;
    border-radius: 200px;
    max-width: 7%;
    margin: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contactForm {
    text-align: center;
}

.side-image {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 19vw;
    object-fit: cover;
}

.leftWelcomeImage {
    left: 0;
}

.rightWelcomeImage {
    right: 0;
}

.welcomeContent {
    font-size: clamp(0.75rem, 1.25vw, 1.25vw);
    max-width: 60vw;
}

.nameLogoImage {
    width: 25vw;;
    height: auto;
}

.resume {
    margin-top: 5px;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    border-color: #63261a;
    align-content: center;
    width: 40%;
}

.photosLayout {
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;

    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.photosLayout img {
    height: 50vh;
    width: auto;
    flex: 1 1 200px;
    object-fit: cover;
}

.photosPageLogo {
    border-width: 5px;
    border-style: solid;
    border-color: #63261a;
    border-radius: 75px;
    max-width: 25%;
    margin: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

iframe, audio, video {
    margin: 1rem;
}

.hidden {
    display: none;
}

.input-field {
    background-color: #fff8ed;
    margin: 10px 0;
    padding: 8px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-field-text {
    background-color: #fff8ed;
    margin: 10px 0;
    padding: 8px;
    width: 320px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-field:focus {
    border-color: #af3737;
}

.socialIcon {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socialIcon a {
    margin-right: 10px;
}

.socialIcon img {
    width: 30px;
    height: auto;
}

.aboutImage {
    float: right;
    margin: 1rem;
    height: 50vh;
}

.aboutText {
    margin: 1rem;
    padding: 1rem;
    word-wrap: break-word;
    font-size: 16px;
}

.footer {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #e0cdb1;
    color: #63261a;
}

@media (max-width: 560px) {

    .title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-family: Brush Script MT, Brush Script Std, cursive;
        font-size: 30px;
        font-weight: bold;
    }
    
    .side-image {
        display: none;
    }

    .resume {
        max-width: 95%;
        height: auto;
    }

    .welcomeContent {
        font-size: clamp(1rem, 1.25vw, 1.25vw);
        max-width: 70vw;
    }
}

